.header
  .container
    .row
      .col-xs-12.col-md-10
        =link_to root_path, id: "title-name" do
          おかつのブログ
      .col-xs-12.col-md-2
        =link_to "https://twitter.com/@okatsu_engineer" do
          Twitterのリンク<API貼り付け予定>