!!!
.body
  .top-header
    =render "shared/header"
  .main
    .container
      .row
        .col-xs-12.col-sm-8
          =render "shared/show-card"
        .col-xs-12.col-sm-4
          =render "shared/side-bar"
  .footer
    =render "shared/footer"